<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"  />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- For background jobs -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".App"
        android:enableOnBackInvokedCallback="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales"
        android:supportsRtl="true"
        android:theme="@style/Theme.RideBus"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.RideBus.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".data.notification.NotificationReceiver"
            android:exported="false" />

        <service
            android:name=".data.updater.app.AppUpdateService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />

        <service
            android:name=".data.updater.database.DatabaseUpdateService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />

        <service
            android:name=".RideBusMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />

    </application>

</manifest>